@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    
}

/* Style the header */
header {
    background-color: #353535; /* Set a background color for the header */
    padding: 20px; /* Add padding to create some space around the image */
    width: 100%;
    max-width: 100%;
}

/* Style the header image */
#header-image {
    display: block; /* Remove any default spacing around the image */
    margin: 0 auto;
    width: 60%;
    padding-bottom: 0px;
}

/* Center the button container */
.button-container {
    text-align: center;
}

/* Sticky button section */
.button-container {
    position: sticky;
    top: 0;
    background-color: #353535; /* Set the background color for the sticky section */
    padding: 10px 0; /* Add padding to the sticky section for spacing */
    z-index: 10;
}

/* Style the Home button */
.home-button {
    padding: 10px 20px;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Add some space between the two buttons */
    background-image: -webkit-linear-gradient(270deg,rgba(208,105,75,1.00) 0%,rgba(118,61,155,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(208,105,75,1.00) 0%,rgba(118,61,155,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(208,105,75,1.00) 0%,rgba(118,61,155,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(208,105,75,1.00) 0%,rgba(118,61,155,1.00) 100%);
    font-family: "Nueva Std";
    font-style: italic;
    font-weight: bolder;
    border-top-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

/* Style the About button */
.about-button {
    padding: 10px 20px;
    color: #000000;
    border: none;
    cursor: pointer;
    font-family: "Nueva Std";
    font-style: italic;
    font-weight: bolder;
    background-image: -webkit-linear-gradient(270deg,rgba(206,104,76,1.00) 0%,rgba(121,62,151,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(206,104,76,1.00) 0%,rgba(121,62,151,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(206,104,76,1.00) 0%,rgba(121,62,151,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(206,104,76,1.00) 0%,rgba(121,62,151,1.00) 100%);
    border-bottom-left-radius: 19px;
    border-top-right-radius: 19px;
}

/* Style the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #85448B;
}

/* Show the dropdown content when the About button is hovered */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown content links */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change the background color of dropdown content links on hover */
.dropdown-content a:hover {
    background-color: #C56353;
}

.mainsectionlast {
    background-image: url('Images/universe.gif'); /* Replace 'your-background-image.jpg' with the path to your image */
    background-size: cover; /* Adjusts the background image size to cover the entire section */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center center; /* Adjust the opacity value (0.0 to 1.0) to set the transparency level */
    height: 100%; /* Set the height of the section to 100% of the viewport height */
    display: flex; /* Optional: Use flexbox to vertically center the content */
    flex-direction: column; /* Optional: Align the elements in a column */
    justify-content: flex-start; /* Optional: Vertically center the content */
    color: #000000; /* Optional: Change text color for better visibility on the background */
    font-family: "PTSerif BoldItalic";
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    align-items: center;
}

/* CSS for the option container */
.option-container {
    margin-top: 20px; /* Adjust the top margin to create some space between the options and text */
    display: flex; /* Use flexbox to align the options */
    justify-content: center;
}


/* CSS for each option */
.option-container label {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0;
}


/* CSS for text content */
.text-content {
    text-align: center;
}
.mainsectionlast #text1 h1 {
    margin-top: 9%;
}
.mainsectionlast #text2 h1 {
    margin-top: 9%;
}
.mainsectionlast #text2 h2 {
}
.mainsectionlast #text2 p {
    margin-top: 3%;
}



.mainsectionlast #text1 p {
    margin-top: 3%;
}
.mainsectionlast #text2 .lasttext {
    margin-bottom: 6%;
}
.mainsectionlast .lastimg img {
    width: 31%;
    margin-left: 2%;
}



/* Styles for the footer */
footer {
	background-color: #353535;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 100%;
}


footer p {
    font-size: 99%;
    padding-left: 8%;
}
